*{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif !important;
    box-sizing:border-box;
}

html{
    font-size:62.5%;
}

body{
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0.425),rgba(255, 255, 255, 0.425)),url(../assets/toronto.jpg);
    background-size:cover;
    background-position:top;
}

/****************************************
Text styles
****************************************/

h1{
    font-size:6rem;
    font-weight:600;
}

h2{
    font-size:4rem;
    font-weight:600;
}

h3{
    font-size:3rem;
    font-weight:600;
}

p{
    font-size:1.6rem;
    font-weight:400;
}

/****************************************
Main content
****************************************/

.title{
    text-align:center;
}

.title-main{
    font-size:7rem;
    font-weight:600;
    letter-spacing:0.6rem;
}

.title-sub{
    font-size:2rem;
}

/* .content{
    z-index:1;
    position:absolute;
} */

section{
    margin-top:1rem;
    padding: 1rem 1rem;
    border-radius:0.5rem;
    width:60vw;
    margin-left:20vw;
    background-color:rgba(250, 250, 250, 0.596);
    justify-content:center;
}

a{
    font-size:30px;
    color:black;
    padding: 0rem 2rem;
    transition:300ms ease;
}

a:hover{
    color:dodgerblue;
} 

.title-box{
    text-align:center;
}

.links{
    margin-top:1rem;
    justify-content:center;
    list-style:none;
}

.links li{
    display:inline-block;
}

.text-section{
    padding:1rem 1rem;
}

.section-title{
    text-align:center;
}

.project{
    margin-top:2rem;
    border: 0.2rem dotted dodgerblue;
}

.project > div{
    display:inline-block;
}

.project img{
    width:50%;
}